:root {
    --couleur-1: #edf9fa; /* Couleur 1 */
    --couleur-2: #80a7c3; /* Couleur 2 */
    --couleur-3: #172e86; /* Couleur 3 */
    --couleur-4: #18a3e1; /* Couleur 4 */
    --couleur-5: #4c6277; /* Couleur 5 */
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
      width: 97%;
}
.deco{
    background-color: rgb(251, 171, 37);
    width: 5%;
    height: 25vh; /* Hauteur égale à la hauteur de la vue du navigateur */
margin-bottom: 40rem;
}

body {
    font-family: Arial, sans-serif;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: right;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
}

.left {
    display: flex;
    align-items: center;
}



.left img {
    max-width: 200px;
}

.container_info_header {
    font-size: 14px;
}

.left,.right {
    text-align: left;
    color: black; 
    font-size: small;
}
.devis_titre {
    text-align: center;
    background-color: rgb(65, 178, 243);
    padding: 0.5rem 1rem;
    border-radius: 50px 0 0 50px; /* Cercle uniquement à gauche */
}


.devis_titre h2 {
    font-weight: bolder;
    font-size: 2rem;
    margin: 0;
    padding-bottom: 5px;
  }

.infos {
    margin: 5px 0;
}

/* Section Client */
.info_client {
    display: flex;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}
.section-infos .client , .section-infos .mission{
    width: 50%;
}

.section-infos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Section Client */
.table-container {
    width: 100%;
}

.table-row {
    display: flex;
    background-color: #fff;
    border-radius: 50px;
    margin-bottom: 1px;
}

.table-cell {
    flex: 1;
    padding: 8px;
}

.even {
    background-color: #f0f0f0; /* Gris pour les lignes paires */
}

.odd {
    background-color: #fff; /* Blanc pour les lignes impaires */
}
.table-header {
    font-size: large;
    font-weight: bold;
    padding: 0.1rem;
    text-transform: uppercase;
    background-color: rgb(65, 178, 243);
    color: #fff;
    border-radius: 50px 50px 50px 50px;
}

.table-total {
    margin-top: 0.5rem;
    border-radius: 50px;
    font-size: larger;
    font-weight: 600;
    
 }
/*   */
.paiement {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 0..5rem;
}

.moyen-de-paiment {
    width: 60%;
    display: flex;
    flex-direction: column;
  
    align-self: start;
}
label{
    font-size: medium;
}

.condition {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-self: start;
    font-size: medium;
  }

  .consigne
  {
    
    width: 100%;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 100;
    margin-top: 0.5rem;
  }


  /* Style pour la section des cachets */
.cachet {
    display: flex; /* Affiche les boîtes côte à côte */
    justify-content: space-between; /* Espace égal entre les boîtes */
    margin-top: 0.5rem;
}

.cachet .entreprise,
.cachet .client {
    font-size: medium;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0.1rem;
    width: 50%;
    border: 1px solid rgba(251, 171, 37,70); 
    border-radius: 25px;
    background-color: rgba(23, 46, 134, 0.2) ;
    height: 7rem;
}
#cgg, #tva{
    text-align: left;
    font-size: 0.6rem;
  
}
footer{
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    background-color: rgb(251, 171, 37);
}



/* Réorganiser la mise en page pour les petits écrans */
@media screen and (max-width: 768px) {
    /* Réduire la largeur du conteneur principal */
    #container {
        padding-right: 0.3rem;
        width: 100%;
    }

    /* Réorganiser la disposition de l'en-tête */
    header {
        flex-direction: row;
        text-align: left;
    }

    .left, .right {
        text-align: left;
    }

    /* Réduire la taille de la police dans l'en-tête */
    .container_info_header {
        font-size: smaller;
    }

    .devis_titre h2 {
        font-size: 1rem;
    }

    /* Ajuster la largeur des sections client et mission */
    .section-infos .client, .section-infos .mission {
        width: 100%;
    }

    /* Réorganiser la table pour s'adapter à un petit écran */
    .table-cell {
        padding: 5px;
    }

    /* Réduire la taille de la police dans la table */
    .table-header, .table-cell, .infos {
        font-size: smaller;
    }

    /* Réduire la taille du texte dans les cachets */
    .cachet .entreprise, .cachet .client {
        font-size: x-small;
        height: 5rem;
    }

    /* Ajuster la largeur des sections de paiement et de cachets */
    .paiement, .cachet {
        flex-direction: row;
        align-items: center;
    }

    /* Réduire la taille de la police dans la section de paiement */
    .moyen-de-paiment label {
        font-size: smaller;
    }

    .condition {
        width: 80%;
    }
}
